html {
    scroll-behavior: smooth;
}

body {
    background: url('../img/sey-hall1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
